
.footer-height {
  min-height: 17vh;
}

.footer-width {
  width: 25%;
  float: left;
}

.ad:hover {
  background-color: #41b5e8;
  opacity: 0.5;
}

.bg-footer {
  background-color: #313944;
}

.get-hover:hover {
  background-color: #41b5e8;
}
