.body-bg {
  background-color: #f3f4f6;
}

body {
  margin: 0;
  padding: 0;
  padding-top: 50px;
  font-family:
    "HelveticaNeue-CondensedBold",
    "HelveticaNeueBoldCondensed",
    "HelveticaNeue-Bold-Condensed",
    "Helvetica Neue Bold Condensed",
    "HelveticaNeueBold",
    "HelveticaNeue-Bold",
    "Helvetica Neue Bold",
    "HelveticaNeue",
    "Helvetica Neue",
    "TeXGyreHerosCnBold",
    "Helvetica",
    "Tahoma",
    "Geneva",
    "Arial Narrow",
    "Arial",
    sans-serif;
  font-weight: 600;
  font-stretch: condensed;
}

.body-header {
  background-color: #fdfdfd;
  width: 100%;
}
